body {
  background: #17181d;
}
.App {
  background: #17181d;
  background-image: url("/public/e.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
}
.todoListFon {
  box-shadow: rgba(245, 0, 87, 0.831) 0px 30px 60px -12px inset,
    rgba(245, 0, 87, 0.3) 0px 18px 36px -18px inset !important;

  background-color: #312c2cb9 !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 15px !important;
  padding: 15px;
}
.App > div {
  margin-right: 50px;
}

.error {
  border: 2px solid red;
  background-color: #ffe6e6;
}

.error-message {
  color: red;
  font-size: 12px;
}
.active-filter {
  background-color: aqua;
}
.is-done {
  opacity: 0.5;
}
.appBar {
  box-shadow: rgba(245, 0, 87, 0.5) 0px 8px 24px;
}
