.App {
  padding: 100px;
  display: flex;
  list-style-type: none;
  background-color: rgb(243, 202, 184);
  height: 100vh;
}
.App > div {
  margin-right: 50px;
}

.error {
  border: 2px solid red;
  background-color: #ffe6e6;
}

.error-message {
  color: red;
  font-size: 12px;
}
.active-filter {
  background-color: aqua;
}
.is-done {
  opacity: 0.5;
}
